#button-id-5- { margin: unset; color: rgb(0, 0, 0); font-size: 16px; border-radius: 6px; background-color: rgba(255, 255, 255, 0); padding: 6px 12px; min-height: 36px; width: 76px; }

#button-id-5-:active, #button-id-5-.active { color: rgb(0, 0, 0) !important; }

#button-id-5-:hover, #button-id-5-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-7- { margin: unset; color: rgb(0, 0, 0); font-size: 16px; border-radius: 6px; background-color: rgba(255, 255, 255, 0); padding: 6px 12px; min-height: 36px; width: 147px; }

#button-id-7-:active, #button-id-7-.active { color: rgb(0, 0, 0) !important; }

#button-id-7-:hover, #button-id-7-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-9- { margin: unset; color: rgb(0, 0, 0); font-size: 16px; border-radius: 6px; background-color: rgba(255, 255, 255, 0); padding: 6px 12px; min-height: 36px; }

#button-id-9-:active, #button-id-9-.active { color: rgb(0, 0, 0) !important; }

#button-id-9-:hover, #button-id-9-.hover { color: rgba(0, 0, 0, 0.5); }

#container-id-0- { margin: unset; width: 100%; min-height: auto; background-color: rgb(248, 248, 248); left: 0px; top: 0px; flex-direction: row; }

#container-id-0- > * { max-width: 100%; }

#container-id-1- { margin: unset; width: 50%; min-height: 100vh; align-items: flex-start; justify-content: flex-start; background-color: rgba(255, 255, 255, 0); padding: 100px 80px; left: 0px; flex-direction: column; }

#container-id-1- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 40px !important; }

#container-id-1- > :last-child, #container-id-1- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-10- { margin: unset; min-height: 151px; align-items: flex-start; justify-content: flex-start; width: 100%; background-color: rgba(238, 238, 238, 0); left: 0px; flex-direction: column; }

#container-id-10- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 40px !important; }

#container-id-10- > :last-child, #container-id-10- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-2- { margin: unset; background-color: rgb(238, 238, 238); width: 464px; flex-direction: row; align-items: center; justify-content: center; min-height: 76px; }

#container-id-2- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-2- > :last-child, #container-id-2- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-3- { margin: unset; background-color: rgb(238, 238, 238); width: 50%; min-height: 100vh; justify-content: flex-end; padding: 40px; left: 0px; flex-direction: row; }

#container-id-3- > * { max-width: 100%; }

#content-container { align-items: flex-start; justify-content: flex-start; flex-direction: column; }

#content-container > * { max-width: 100%; margin-right: 0px !important; }

#content-container > :last-child, #content-container > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#root-container { background-position: center center; background-color: rgb(248, 248, 248); }

#text-id-0- { margin: unset; background-color: rgba(0, 0, 0, 0); }

#text-id-6- { margin: unset; background-color: rgba(0, 0, 0, 0); width: 360px; line-height: 98px; font-size: 96px; font-weight: 700; font-style: normal; letter-spacing: -3px; }

#text-id-8- { margin: unset; background-color: rgba(0, 0, 0, 0); line-height: 28px; font-weight: 600; font-style: normal; letter-spacing: 0px; width: 440px; text-align: left; }

[data-element-type] { font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; letter-spacing: 0px; line-height: 22px; font-size: 20px; font-weight: 600; font-style: normal; }

#container-id-3- { background-image: url("../img/-project-image-1.jpeg"); }

@media (min-width:1025px) {#container-id-1- > * { flex-grow: 1; }

#content-container { display: flex; }}

@media (min-width:641px) and (max-width:1024px) {#container-id-0- { align-items: flex-start; justify-content: flex-start; left: 0px; flex-direction: column; }

#container-id-0- > * { max-width: 100%; margin-right: 0px !important; }

#container-id-0- > :last-child, #container-id-0- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-1- { padding: 64px; min-height: auto; width: 100%; left: 0px; flex-direction: column; }

#container-id-1- > * { max-width: 100%; }

#container-id-10- { flex-direction: column; }

#container-id-10- > * { max-width: 100%; }

#container-id-3- { width: 100%; min-height: 480px; left: 0px; flex-direction: row; }

#container-id-3- > * { max-width: 100%; }

#content-container { flex-direction: column; display: flex; }

#content-container > * { max-width: 100%; }

#text-id-6- { line-height: 64px; font-size: 64px; letter-spacing: -1px; width: auto; }}

@media (max-width:640px) {#container-id-0- { align-items: flex-start; justify-content: flex-start; left: 0px; flex-direction: column; }

#container-id-0- > * { max-width: 100%; margin-right: 0px !important; }

#container-id-0- > :last-child, #container-id-0- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-1- { width: 100%; min-height: unset; padding: 40px 32px; left: 0px; flex-direction: column; }

#container-id-1- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 32px !important; }

#container-id-1- > :last-child, #container-id-1- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-10- { flex-direction: column; }

#container-id-10- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 32px !important; }

#container-id-10- > :last-child, #container-id-10- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-3- { width: 100%; min-height: 360px; left: 0px; flex-direction: row; }

#container-id-3- > * { max-width: 100%; }

#content-container { flex-direction: column; display: flex; }

#content-container > * { max-width: 100%; }

#text-id-6- { line-height: 64px; font-size: 64px; width: 282px; letter-spacing: -1px; }}